{% extends 'base.html' %}
{% block content %}

<div class = 'row'>
    <div class = 'col'></div>
    <div class = 'col-12 col-xl-8 col-md-4'>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">사이트명</th>
              <th scope="col">URL</th>
              <th scope="col">내용</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ object.site_name }}</td>
              <td><a href="{{ object.url }}">{{ object.url }}</a></td>
              <td>{{ object.contents }}</td>
            </tr>
          </tbody>
        </table>
        
        <a href="{% url 'bookmark:update' object.id %}" class="btn btn-primary">수정</a>
        <a href="{% url 'bookmark:delete' object.id %}" class="btn btn-primary">삭제</a>
    </div>
    <div class = 'col'></div>
</div>
{% endblock %}